.theme-btn {
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
}
.nav-items a {
    font-weight: 700;
}
.nav-items a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-items a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0%;
  height: 3px; /* Thickness of the bar */
  background-color: currentColor; /* Matches text color */
  transition: width 0.3s ease;
}

.nav-items a:hover::after {
  width: 100%;
}

.icons-navbar svg {
    font-weight: bold;
    font-size: 18px; 
}
.mid-nav {
    padding: 0px 40px;
}
.nav-top-items a {
    font-weight: 500;
    color: #000 !important;
    border-bottom: 2px solid transparent;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.number {
     font-weight: 500;
    font-size: 14px;
}
.img_fluid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-top-items a:hover {
    color: #000 !important;
    border-bottom: 2px solid #000;
}

.banner-slider {
    padding: 0px 40px;
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 !important;
}
.banner-img  {
    height: 300px;
    border-radius: 0;
}

.category-slider {
    padding: 0px 40;
}


.theme-padding {
    padding: 0px 40px;
}

/* responsivess */

@media (max-width: 768px) {
  .banner-img {
    height: auto !important;
  }
  .banner-slider {
    padding: 0;
  }
}